body {
    padding: 25px;
    /* background-color: aqua;border: 1px solid black; */
    text-align: center;
}
#wrap {}
#wrap .title {}
#wrap .title h1 {font-size: 45px; font-weight: 700;
letter-spacing: -2px;}
#wrap .title p {font-size: 0.875rem; margin-bottom: 24px;}
#wrap .title p a {font-weight:500; color: #6b5dfe;}
#wrap #main {
    width: 320px;
    display: inline-block;
}
#wrap #main .brand_logo_btn {
    margin-bottom: 30px; 
    display: flex;
}
#wrap #main .brand_logo_btn #google_logo_btn {
    color: #fff;
    font-size: 0.875rem;
    border-radius: 35px;
    width: 200px;
    background: #6b5dfe;
}
#wrap #main .brand_logo_btn #google_logo_btn img {
    width: 30px;height: 30px; margin:0 10px 0 0;
    border-radius: 100px;
    background-color: #fff;
    transform: translate(-1px, 10px);
}
#wrap #main .brand_logo_btn #facebook_logo_btn {
    border: 1px solid #ddd; border-radius: 30px;
    margin:0 10px ;
    padding: 8px 10px;
}   
#wrap #main .brand_logo_btn #facebook_logo_btn img {
    width: 30px; height: 30px;
    transform: translate(0,1px);
}
#wrap #main .brand_logo_btn #apple_logo_btn {
    border: 1px solid #ddd; border-radius: 30px;
    padding: 0 10px;
    }
#wrap #main .brand_logo_btn #apple_logo_btn img {
    transform: translate(0, 8px);
    width: 30px; height: 30px;}
#wrap #main .brand_logo_btn .logo_btn {}
#wrap #main .or_line {
    margin-bottom: 30px;
    position: relative
}
#wrap #main .or_line span {} 
#wrap #main .or_line span:nth-child(1) {
    width: 320px;
    border:1px solid #ddd;
    display:inline-block; 
} 
#wrap #main .or_line span:nth-child(2) {
    background: #fff; 
    text-align: center;
    padding: 12px;
    display: inline-block;
    position: absolute; 
    left: 44%;
    top: -50%;
}
#wrap #main #login_frm {}
#wrap #main #login_frm .mail_login {}
#wrap #main #login_frm .mail_login label {
    display: block;
    text-align: left;
}
#wrap #main #login_frm .mail_login #user_mail {
    width: 320px;
    height: 48px;
    border: 1px solid #ddd;
    font-size:0.875rem;
    margin: 7px 0 15px 0;
    padding: 10px 8px;
}
#wrap #main #login_frm .pw_login {}
#wrap #main #login_frm .pw_login label {
    font-size:0.875rem;
    float: left;
    }
#wrap #main #login_frm .pw_login a {
    font-size:0.875rem;
    color: #3F42FF;
    float:  right;
}
#wrap #main #login_frm .pw_login #user_pw {
    width: 320px;
    height: 48px;
    border: 1px solid #ddd;
    padding: 10px 8px;
    margin: 7px 0 15px 0;
}
#wrap #main #login_frm #login_btn {
    width: 100%;
    font-size:0.875rem;
    padding: 12px;
    border-radius: 20px;
    background-color: #ddd;
}