/* CSS변수 */
:root {
    /* --대상-용도:반복속성값; */
    --text-title70:4.375rem;
    --text-contents21:1.313rem;
    --text-menu18:1.125rem;
    --text-sub12:0.75rem;
    --text-sub10:0.625rem;
    --text-subtitle70:2.5rem;
    --text-sub14:0.875;
    --text-contents31:1.938rem;
    /* 행간 */
    --line-title:0.9;
    --line-contents:1.5;
    /* 자간' */
    --letter-minus2:-0.02rem;
    /* 굵기 */
    --weight-bold:700;
    --weight-semibold:600;
    --weight-medium:500;
    /* 색상(테두리색, 배경색, 글자색 등*/ 
    --color-white:#fff;
    --color-deep_gray:#444;
    --color-light_gray:#aaa;
    --color-grayd:#ddd;
    --color-title_indigo:#1d356d;
    --color-title_brown:#642c10;
    --color-title_coral:#d43936;
    --color-point:#36b4e5;
    --color-gray8:#808080;
    --color-backfc:#fcfcfc;
    --color-gray6:#676767;
    --color-orange:#f3c300;
    --color-f1f1f1:#f1f1f1;
    /* 레이아웃 정보 */
    --width-desktop:1440px;
    --margin-desktop-1-r-80:80px;
    --width-desktop-1140:1140px;
}
body,html {scroll-behavior:smooth;}
#wrap {
    padding-top: 92px;
}
#wrap header {
    padding:0 80px; height:92px;
    display:flex;
    flex-flow:row nowrap; /* 메인축(수평) 줄바꿈 안함 */
    justify-content:space-between; /* 메인축 정렬(양쪽끝) */
    align-items:center; /* 교차축(수직) 가운데 */
    position: fixed; /* fixed or absolute -> 너비값 재설정 해야함*/ 
    z-index:910; width:100%; left: 0; top:0;
    background: var(--color-white);
}
#wrap header a {}
#wrap header a img {}
/* --------------------------------gnb메뉴--------- */
#wrap header .gnb_menu {    
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items: center;
    gap: 70px;
}
#wrap header .gnb_menu > li {}
#wrap header .gnb_menu > li:hover .lnb {
    display: flex;
}
/* ------------------gnb메뉴 */
#wrap header .gnb_menu > li > a {
    font-size: var(--text-menu18);
    font-weight: var(--weight-semibold);
    display: block;
    line-height: 92px;
    }
/* ------------------------gnb lnb */
#wrap header .gnb_menu > li .lnb {
    background-color:rgba(255,255,255,0.7);
    position:absolute; z-index: 900;
    width: 100%; /* absolute와 함께 w100%가 있으면 부모(pst)의 너비와 같다 뜻 */
    left: 0;/* absolute + 좌표가 있다면? 부모(pst) 기준 좌표 설정 뜻 */
    padding:45px 0;
    display: flex;
    flex-flow:row nowrap;
    justify-content: center;
    /* align-items: center; */
    gap: 80px;
    display: none;
}
#wrap header .gnb_menu > li .lnb > li {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 15px;
}
#wrap header .gnb_menu > li .lnb > li > a {
    font-size: var(--text-menu18); font-weight: var(--weight-semibold);
}
/* ------------------gnb lnb depth2 메뉴 */
#wrap header .gnb_menu > li .lnb > li .lnb_depth2  {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 13px;
}
#wrap header .gnb_menu > li .lnb > li .lnb_depth2 li {}
#wrap header .gnb_menu > li .lnb > li .lnb_depth2 li a {
    font-weight:400;
}
#wrap header .gnb_menu > li:nth-child(5) .lnb {}
/* ---------------------------------------오른쪽 버튼----------- */
#wrap header .right_btn {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items: center;
    gap: 40px;
}
#wrap header .right_btn > li {}
#wrap header .right_btn > li:first-child {
    display: flex;
    flex-flow: row nowrap;
}
#wrap header .right_btn > li:first-child::after {
    content: ""; 
    display: block; margin-left:40px;
    width: 1px; height: 13px; background:var(--color-deep_gray);
}
#wrap header .right_btn > li > a {
    font-size: var(--text-sub12);
}
#wrap header .right_btn > li > a img {}
/* 언어선택 시 활성화 디자인 */
#wrap header .right_btn li:nth-child(2) {
    position: relative;
}
/* 두번째 li에 마우스 올렸을 때 자식 언어선택 보이기 */
#wrap header .right_btn li:nth-child(2):hover .lang_select {
    display: flex;
}
#wrap header .right_btn li:nth-child(2) .lang_select {
    /* 형제 또는 부모와 겹치는 디자인 요소는 ->absolute */
    position:absolute; z-index: 100; /* 0~999 */
    display: flex;
    flex-flow: column nowrap;
    gap:10px;
    display:none;
}
#wrap header .right_btn li:nth-child(2) .lang_select a {
    width: 40px; height: 40px; border-radius:20px;
    border:1px solid var(--color-light_gray);
    background:var(--color-white);
    font-size: var(--text-sub12);
    line-height: 40px;
    text-align: center;
}
#wrap header .right_btn li:nth-child(2) .lang_select a .kr {}
#wrap header .right_btn li:nth-child(2) .lang_select a .en {}
#wrap header .right_btn li:nth-child(2) .lang_select a .ch {}
/* 메인 */
#wrap main